/* variables */
:root {
    --main-Color: #ffffff;
    --glod-color: #b4860d;
    --transition: 0.3s;
}

/* variables */
/* start global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    background-color: #f3f2f2;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.containar {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* samll media screen */
@media (min-width: 768px) {
    .containar {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .containar {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .containar {
        width: 1170px;
    }
}

/* End global Rules */

/* header */
header {
    box-shadow: 0 0 6px black;
    /* position: absolute;
    left: 0;
    width: 100%;
    z-index: 51; */
}

header nav .logo {
    font-family: "Gravitas One";
    font-weight: bolder;
}

header input {
    text-align: right;
}

header nav input .form-control::after {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    position: absolute;
    z-index: 5555;
}


/* header End */

/* landing */
.landing {
    background-image: url(/imgs/file_00000000ff3861f78ceb82413db81b8f.png);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 5;
}



.landing .info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Gravitas One";
}



/* landing End */
/* feature  */

.feature .one {
    color: var(--glod-color);
}

.feature .coll {
    padding: 20px 20px 20px 0;
}

.feature .coll a {
    font-size: 20px;
}

.feature ul li {
    padding: 10px;
}


.feature ul li a {
    color: black;
    padding: 12px 5px;
    border-radius: 22px;
    font-size: 17px;
    transition: var(--transition);
}

.feature ul li a:hover,
.feature ul li .active {
    background-color: var(--glod-color);
    color: var(--main-Color);
}

.feature .wrapper {
    gap: 20px;
}

.feature .card-body span {
    font-size: 1.5rem;
    color: var(--glod-color);
}

.feature .card-body .btn {
    background-color: var(--glod-color);
    color: var(--main-Color);
    width: fit-content;
    border: 1px solid #DDD;
    border-radius: 12px;
    font-size: 20px;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

/* From Uiverse.io by amikambs */
.rating:not(:checked)>input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked)>label {
    float: right;
    cursor: pointer;
    font-size: 13px;
    fill: #666;
}

.rating:not(:checked)>label>svg {
    fill: #666;
    /* Set default color for SVG */
    transition: fill 0.3s ease;
    /* Add a transition effect */
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    fill: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:checked>label:hover~label {
    fill: #ff9e0b;
}

.rating>input:checked~label>svg {
    fill: #ffa723;
    /* Set color for selected stars */
}

/* feature End*/
/* category */


.category h2 {
    padding: 25px 0;
}

.category .card-body span {
    font-size: 1.5rem;
    color: var(--glod-color);
}

.category {
    padding: 20px 0;
}

.category .card-body .btn {
    background-color: var(--glod-color);
    color: var(--main-Color);
    padding: 4px 40px;
    border: 1px solid #DDD;
    border-radius: 12px;
    font-size: 20px;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

/* category End */
/* best sailes */
.salls h2 {
    padding: 25px 0;
    font-size: 28px;
}

.salls .box img {
    border-radius: 19px 19px 0 0;
}

.salla .box .box-info {
    padding: 10px;
}

.salls .box .box-info span {
    display: block;
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: var(--glod-color);
}

.salls .box .box-info em {
    color: black;
    padding-left: 20px;
}

.salls .box .box-info .bay {
    background-color: var(--glod-color);
    color: var(--main-Color);
    padding: 8px 40px;
    border: 1px solid #DDD;
    border-radius: 22px;
    font-size: 20px;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

/* best sailes End */
/* testimoneal  */
.testimoneal h2 {
    padding: 25px 0;
    font-size: 28px;
}

/* testimoneal End*/
/* footer */
footer {
    padding: 20px;
    background-color: var(--glod-color);
}

footer.containar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

footer .containar>.contact {
    display: flex;
    align-items: center;
}

@media(max-width:767px) {
    footer .containar .contact ul {
        flex-direction: column;
    }
}

footer .containar ul li {
    padding: 10px;
    color: var(--main-Color);
}

footer .containar .contact span a {
    text-align: center;
}

/* footer End  */